<div class="container">
  <h3>Payment Form - Car Rental</h3>
  <div class="row">
    <div class="form-group col">
      <label>Payee name</label>
      <input class="form-control" type="text" (input)="onNameChange($event.target)">
    </div>

    <div class="col">
      <label><b>Name</b></label>
      <div>
        {{name | titlecase}}
      </div>
    </div>
    </div>

  <div class="row">
    <div class="form-group col">
      <label>Payment date</label>
      <input class="form-control" type="date" (input)="onDateChange($event.target)">
    </div>

    <div class="col">
      <label><b>Payment date</b></label>
      <div>
        {{date | date: 'd MMMM, y'}}
      </div>
    </div>
    </div>

  <div class="row">
    <div class="form-group col">
      <label>Payment amount</label>
      <input class="form-control" type="string" (input)="onAmountChange($event.target)">
    </div>

    <div class="col">
      <label><b>Payment amount</b></label>
      <div>
        {{amount | currency: 'EUR'}}
      </div>
    </div>
    </div>

  <div class="row">
    <div class="form-group col">
      <label>Fuel consumed (l)</label>
      <input class="form-control" type="string" (input)="onFuelConsumedChange($event.target)">
    </div>

    <div class="col">
      <label><b>Fuel consumed (l)</b></label>
      <div>
        {{fuelConsumed | number: '1.0-2'}}
      </div>
    </div>
    </div>

  <div class="row">

    <div class="col">
      <div class="row">
        <div class="form-group col">
          <label>Distance travelled (miles)</label>
          <input class="form-control" type="string" (input)="onDistanceChange($event.target)">
        </div>
        <div class="form-group col">
          <label>Target distance unit (km, m or cm)</label>
          <input class="form-control" type="string" (input)="onUnitChange($event.target)" [value]="unit">
        </div>
      </div>
    </div>

    <div class="col">
      <label>
        <b>Distance travelled
          <span *ngIf="['km', 'm', 'cm'].includes(unit)">({{unit}})</span>
        </b>
      </label>
      <!-- when using pipes in expressions, they must be wrapped in parentheses -->
      <!-- convertDistance is a custom pipe (convert-distance.pipe.ts) -->
      <div *ngIf="(distance | convertDistance: 'km') > 10; else fallback">
        <!-- can chain multiple pipes -->
        {{distance | convertDistance: unit | number: '1.0-2'}}
      </div>
      <ng-template #fallback>
        <div><i>(must be at least 10 km)</i></div>
      </ng-template>
      </div>
  </div>

  <br>
  <hr>

  <div class="row">
    <div class="form-group col">
      <p>Debugger's corner...</p>
      {{ car | json}}
    </div>
  </div>
</div>


